# ==========================================
# AudioSeal Dependencies
# ==========================================
audioseal
torch >= 1.13.0
Omegaconf
Julius
Numpy



#PerTh:
resemble_perth
matplotlib
librosa
torchaudio

# ==========================================
# Database
# ==========================================
sqlalchemy>=2.0.0
alembic
psycopg2-binary  # Für PostgreSQL (oder sqlite3 für SQLite)

# ==========================================
# Flask + API
# ==========================================
flask>=3.0.0
flask-cors
werkzeug
python-multipart

# ==========================================
# Audio Manipulation
# ==========================================
scipy>=1.10.0
pydub>=0.25.0
soundfile>=0.12.0
pyrubberband>=0.3.0
