#AudioSeal:
audioseal
Python >= 3.8
Pytorch >= 1.13.0
Omegaconf
Julius
Numpy



#PerTh:
resemble_perth
matplotlib
librosa
torch
torchaudio

#Database:
sqlalchemy>=2.0.0
alembic
psycopg2-binary  # Für PostgreSQL (oder sqlite3 für SQLite)


#Flask
flask>=3.0.0
flask-cors
werkzeug
python-multipart